<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MATE</title>
  </head>
  <body>

    <div id="overlay">
      <div id="overlay-content">
        <h2>Chat List</h2>
      </div>
    </div>

    <%- include("../partials/nav", {browse: false, profile: false, photos: false, messages: true}) %>

    <main class="container">
      <div class="row">
        <div class="col s12 m12">
          <h4>Message History</h4>
          <div class="row"> <!-- first row -->
            <%messages.forEach((message) => { %>
              <div class="message">
                <a href="/chat/<%= message.userid1%>"><img class="msg-img circle responsive-img" src="<%= message.image_path%>" /></a>
                <p class="msg-timestamp"><%= message.created_at%></p>
                <p><span class="msg-username"><%= message.username1%>:</span> <span class="msg-text"><%= message.message%></span></p>
              </div>
            <% }); %>

          </div> <!-- end first row -->
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>
    <script src="../js/site/conversations.js"></script>
  </body>
</html>
