<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Photo</title>
</head>
<body>

  <%- include("../partials/nav") %>

  <main class="container">
    <div class="row">
      <div class="col s12 m12 center-children">
        <h4>Photo <%= status%></h4>
        <a href="/photos/show/<%= userId%>" class="tooltipped" data-position="top" data-delay="100" data-tooltip="Return to Photos">
          <img src="<%= imagePath%>" class="profile-img z-depth-5">
        </a>
        <h5>Caption: <%= caption%></h5>
      </div>
    </div>
  </main>

  <footer class="page-footer" id="footer">
    <div class="container">
      <div class="row footer-row">
        <div class="col l6 s12">
          <!-- <h5 class="white-text">Footer Content</h5> -->
          <ul>
            <li class="grey-text text-lighten-4 bold">MATE</li>
            <li class="grey-text text-lighten-4">Find yours.</li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <!-- <h5 class="white-text">Links</h5> -->
          <ul>
            <li><a class="grey-text text-lighten-3" href="/site/contact">Contact</a></li>
            <li><a class="grey-text text-lighten-3" href="/site/about">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      © 2017 Rob Conner. All Rights Reserved.
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../../js/materialize.js"></script>
  <script type="text/javascript" src="../../js/scripts.js"></script>

</body>
</html>
