<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MATE</title>
  </head>
  <body>

    <div id="overlay">
      <div id="overlay-content">
        <h2>MATE</h2>
      </div>
    </div>

    <%- include("../partials/nav") %>

    <main class="container">
      <div class="row">
        <div class="col s12 m12">
          <% if (loggedIn) { %>
            <h5>Welcome <%= userName%>!</h5>
          <% } else { %>
            <h5>Welcome! Please login or join and create an account.</h5>
          <% } %>
        </div>
      </div>

      <div id="card-grid">
        <div class="row">
          <% profileArray.forEach((profile) => { %>
            <div class="col s6 m4 l3">
              <div class="card z-depth-4">
                <div class="card-image">
                  <!-- <a class="tooltipped" data-position="top" data-delay="100" data-tooltip="View Profile" href="/profiles/show/<%= profile.userId%>"> -->
                  <a href="/profiles/show/<%= profile.userId%>">
                    <img class="card-img" src="<%= profile.imagePath%>">
                  </a>
                  <span class="card-title"><%= profile.title%></span>
                </div>
                <div class="card-content">
                  <p><%= profile.distString%></p>
                </div>
                <div class="card-action">
                  <a href="/photos/show/<%= profile.userId%>">Photos</a>
                  <% if (curUserId !== profile.userId) { %>
                    <a class="right" href="/chat/private/<%= profile.userId%>">Chat</a>
                  <% } %>
                </div>
              </div>
            </div>
          <% }); %>

        </div> <!-- end first row -->

        <div class="row">
          <h5>Accuracy <%= Math.floor(accuracy * 3.28)%> feet</h5>
        </div> <!-- end second row -->
    </div> <!-- end card-grid -->
    </main>

    <%- include("../partials/footer") %>

    <script type="text/javascript" src="../js/scripts.js"></script>
    <script type="text/javascript" src="../js/site/get-cur-user-location.js"></script>
    <script type="text/javascript" src="../js/site/index.js"></script>
  </body>
</html>
